.panel-default
{
	border: 1px solid black;
}
#left
	{
		font-size: 20px;
		font-weight: bold;
		color: #222;
	}
	#right
	{
		font-size: 20px;
		font-weight: bold;
		color: #cd3232;
	}
	@media only screen and (max-width: 600px) and (min-width: 300px)
	{
	#left
	{
		font-size: 10px;
		font-weight: bold;
		color: #222;
	}
	#right
	{
		font-size: 10px;
		font-weight: bold;
		color: #cd3232;
	}

	}

	
	
	h4
	{
		font-weight: bold;
	}
	.modal-sm
	{
		border-radius: 0px;
	}
	h3
	{
		color: #4B0082;

	}
	#val
	{
		font-size: 10px;
	}
	.sz
	{
		font-size: 16px;

	}
	i
	{
		text-shadow: 0 0 5px #FFF;
	}

input.noimage {
	width: 350px;
       height: 40px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: none;
    background-size: 35px 35px;
    background-position: right;
    background-repeat: no-repeat;
    padding: 12px 30px 15px 10px;
}

input[type=text]{
       width: 350px;
       height: 40px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url("search-icon.png");
    background-size: 35px 35px;
    background-position: right;
    background-repeat: no-repeat;
    padding: 12px 30px 15px 10px;
}

.line
{
	border-bottom: 2px solid #222;
  
}
	.btn-warning
	{
		width: 100%;
		border-radius: 0px;
		background-color: #be2013;
		color: white;
	}
	.btn-primary
	{
		width: 100%;
		border-radius: 0px;
		background-color: #084c98
		color: white;
	}

	.header {
 		overflow: hidden;
  		padding: 10px 10px;
  		border-bottom: 1px groove black;
	}
	
	.btn-default
	{
		width: 30%;
		height: 45px;
		/*margin-left: 40px;*/
		border-radius: 0px;
		background-color: black;
		color: white;
		font-weight: bold;
	}
	.btn-danger
	{
		/*margin-right: 40px;*/
		width: 30%;
		height: 45px;
		border-radius: 0px;
		color: white;
		font-weight: bold;
	}
	body
	{
		background-color: #fff;
	}
	@media only screen and (max-width: 770px) and (min-width: 300px)
	{
		.btn-default
	{
		visibility: hidden;
	}
	.btn-danger
	{
		/*margin-right: 40px;*/
		width: 100%;
		height: 45px;
		border-radius: 0px;
		color: white;
		font-weight: bold;
	}
	input[type=text]{
      width: 100%;;
       height: 40px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url("search-icon.png");
    background-size: 35px 35px;
    background-position: right;
    background-repeat: no-repeat;
    padding: 12px 30px 15px 10px;
}
	}
	@media only screen and (max-width: 1100px) and (min-width: 900px){
		.navbar-nav li
		{
			
			padding-right: 80px;

		}
	}

	@media only screen and (max-width: 1270px) and (min-width: 1200px){
		.navbar-nav li
		{
			
			padding-right: 110px;
		}
	}
@media only screen and (min-width: 1271px){
		.navbar-nav li
		{
			
			padding-right: 130px;
		}
	}
	#color_me{
		height: 38px;
		width: 15%;
		margin-left: 0px;
		background-color: #125ff5;
	}
	/*.style
	{
		margin-right: 80px;
		width: 8%;
		height: 45px;
	}*/
